* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*  */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*color, font, text style*/
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

.hero-text,
.header-intro,
.footer,
a {
    background-color: #1f2937;
    color: #f9faf8;
    text-decoration: none;
    font-size: 18px;
}

button {
    background-color: #3882f6;
}

.quote {
    background-color: #e5e7eb;
}

.quote-text {
 font-size: 26px;
 font-style: italic;
 font-weight: lighter;
 color: #1f2937;
}

.info.header {
    font-size: 36px;
    font-size: x-large;
    color: #1f2937;
}

.hero-text .logo {
    font-size: 24px;
    font-weight: bold;
}

.header-intro h1{
    font-size: 46px;
    font-weight: bolder;
}

.action .container {
    background-color: #3882f6;
    color: #f9faf8;
}
/*color, font, text style*/


/* make the hero text to be flexbox */
.hero-text .container {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
}

/* make the hero text link to be flexbox */
.hero-link {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

/* make the header to be flexbox */
.header-intro .container {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 10px;
    justify-content: center;
}

.header-intro .header-text {
    margin-bottom: 20px;
}

.header-intro button {
    border-style: none;
    color: #f9faf8;
    margin: 10px 0;
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: bold;
}

/* resize the cat jpg on the header intro*/
.catjpg {
    max-width: 60%;
    max-height: 20%;
    border-radius: 10px;
}

/* make the header in center */
.info-header {
    text-align: center;
    padding: 30px 0;
}

/* make the info-img be flexbox */
.info-img .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 50px;
}

.box-img {
    width: 150px;
    height: 150px;
    border: #3882f6 3px solid;
    border-radius: 10px;
}

/* make the info text to center */
.boxes-subtext {
    text-align: center;
}


.quote .container {
    padding: 50px;
}

.quote h4 {
    padding-top: 10px;
    text-align: right;
}

/* flex the call to action section */
.action .container {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    border-radius: 10px;
}

.action {
    margin: 50px 0;
}

/*  */
.action .sign-up {
    border: #f9faf8 solid 2px;
    border-radius: 10px;
    padding: 3px 30px;
    color: #f9faf8;
    font-weight: bold;
    font-size: 16px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    font-size: smaller
}